header {
    height:100px;
    width:900px;
    background-color: green;
}
aside {
    height:500px;
    width: 200px;
    background-color: red;
}
main {
    height:500px;
    width:700px;
    background-color: deepskyblue;
    position:relative;
    left: 200px;
    bottom: 500px;
}

footer {
    height:100px;
    width:900px;
    background-color: yellow;
    position:relative;
    bottom: 500px;          f
}